@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:400,700);

@import url(/bower_components/bootstrap/dist/css/bootstrap.min.css);
/*@import url(/css/syntax.css);*/
@import url(/css/syntax-eighties-dark.css);
@import url(/css/theme.css);

body {
  padding-top: 50px;
  padding-bottom: 50px;
}


@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
  .container .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}

/* Font */

body {
  font-family: 'Open Sans', serif;
}

code,
pre {
  font-family: 'Source Code Pro', monospace;
}
