body {
  padding-top: 50px;
  padding-bottom: 50px;
}


@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
  .container .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}

