@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:400,700);
@import url(/css/syntax.css);

nav[role=navigation],
main {
  max-width: 720px;
}

main {
  margin: 20px auto;
}

body {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  margin: 0;
  background-color: #FFF;
  color: #000;
}

hr {
  border-style: solid;
  border-color: rgba(0,0,0,0.2);
  border-width: 1px 0 0;
  margin: 10px 20px;
}

code,
pre {
  font-family: 'Source Code Pro', monospace;
}

pre {
  overflow-x: scroll;
  padding: 10px;
}

p {
  line-height: 2em;
}

h1,
article header h2,
nav a[rel=home] {
  font-size: 32px;
  font-weight: 700;
}

h1 a,
h2 a {
  text-transform: none;
  color: #000;
}

a {
  color: #4AD3B7;
  text-decoration: none;
  -webkit-transition: color 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: color 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
a:hover,
nav a[rel=home]:hover {
  color: #3B9D89;
}

/* Navigation */
nav {
  overflow: hidden;
  line-height: 40px;
}

nav a {
  display: block;
  color: #000;
}

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 15px auto;
}
nav a[rel=home] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 240px;
  margin: 5px 20px;
}
nav ul {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 240px;
  padding: 0;
  margin: 5px 15px;
}

nav ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  margin: 0 5px;
}

nav ul li a {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 21px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
nav ul li a:hover {
  color: #000;
  border-color: rgba(0,0,0,.2);
}
nav ul li a.active {
  background-color: #000;
  color: #FFF;
}
nav ul li a.active:hover {
  background-color: rgba(0,0,0,.8);
}

article {
  padding: 0 20px;
}
article > header {
  top: 0;
  line-height: 30px;
}

article > header date {
  margin-right: 10px;
}

header > h1,
header > h2 {
  margin: 0;
}

section[role=grid] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 10px;
  margin: -10px 0;
}

[role=gridcell] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  min-width: 240px;
  margin: 10px;
  box-sizing: border-box;
}

article[role=gridcell] {
  background-color: #F7D900;
  padding: 20px;
}

article[role=gridcell] a {
  color: #fff;
}
article[role=gridcell] a:hover {
  color: #000;
}
