/* Font */

body {
  font-family: 'Open Sans', serif;
}

code,
pre {
  font-family: 'Source Code Pro', monospace;
}
pre {
  background-color: #393939;
  color: #F2F0EC;
}

.text-black {
  color: #393939;
}
.text-dark {
  color: #747369;
}
.text-gray {
  color: #D3D0C8;
}
.text-white {
  color: #F2F0EC;
}
.text-cyan {
  color: #66CCCC;
}
.text-magenta {
  color: #CC99CC;
}
.text-yellow {
  color: #FFCC66;
}
.text-red {
  color: #F2777A;
}
.text-green {
  color: #99CC99;
}
.text-blue {
  color: #6699CC;
}

.bg-black {
  background-color: #393939;
}
.bg-dark {
  background-color: #747369;
}
.bg-gray {
  background-color: #D3D0C8;
}
.bg-white {
  background-color: #F2F0EC;
}
.bg-cyan {
  background-color: #66CCCC;
}
.bg-magenta {
  background-color: #CC99CC;
}
.bg-yellow {
  background-color: #FFCC66;
}
.bg-red {
  background-color: #F2777A;
}
.bg-green {
  background-color: #99CC99;
}
.bg-blue {
  background-color: #6699CC;
}